body{
  all:unset;
  background:rgb(45,50,52);
  overflow-x:hidden;
  font-family: "Lucida Console", Monaco, monospace;
  color:rgb(233,237,239);
}

#sidebar{
  position:fixed;
  display: flex;
  flex-direction: column;
  height:100%;
  width:100px;
  background:rgb(0,0,15);
  z-index:5;
}

.sidebarItem{
  flex:1;
  color:rgb(233,237,239);
  text-decoration: none;
  padding-top: auto;
  text-align: center;
}

#main{
  position: absolute;
  left:125px;
}