#content{
  margin: 10px;
  margin-top: 0;
  color:rgb(155,207,229);
}

#title{
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
  background: linear-gradient(rgb(15,93,145) 40%, rgb(45,50,52) 110%);
}

a{
  color:rgb(195,135,255);
}