<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/frame.css">
	<link rel="stylesheet" href="../styles/about.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../scripts/about.js"></script>
</head>

<body>
<div id="wrapper">
	<div id="sidebar">
	<a class="sidebarItem" href="/">Home</a>
    <a class="sidebarItem" href="#">About</a>
    <a class="sidebarItem" href="/portfolio">Portfolio</a>
    <a class="sidebarItem" href="/contact">Contact</a>
	</div>
	<div id="main">
		<div id="title">
			<h1>About me</h1>
			<h2>Kevin Kuek, Master of Software Engineering.</h2>
		</div>
		<div id="content">
			<div id="info">
				<h3>Programming Experience</h3>
				<p><span>C:</span> High performance computing.</p>
				<p><span>C#:</span> Back end RESTful API, Unity game development.</p>
				<p><span>Python:</span> Blockchain proof of work and block authentication, graphical simulation, learning classifier systems, data mining, basic webapps.</p>
				<p><span>HTML/CSS/JavaScript:</span> Node.js webapps, dynamic front-end design, back-end API, Meteor webapps, HTML canvas 2D games.</p>
				<p><span>Scratch:</span> :)</p>
				<a href="https://github.com/Quackvin">Github</a>
			</div>
			<div id="imagebox">
				<image id="image" src="../imgs/forest.jpg"></image>
			</div>
		</div>
	</div>
</div>
</body>
</html>