<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/frame.css">
	<link rel="stylesheet" href="../styles/contact.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../scripts/about.js"></script>
</head>

<body>
<div id="wrapper">
	<div id="sidebar">
	<a class="sidebarItem" href="/">Home</a>
    <a class="sidebarItem" href="/about">About</a>
    <a class="sidebarItem" href="/portfolio">Portfolio</a>
    <a class="sidebarItem" href="#">Contact</a>
	</div>
	<div id="main">
		<h1>Contact</h1>
		<p>Linkdin: https://www.linkedin.com/in/kevin-kuek-208a9ab1/</p>
		<p>Gitbuh: https://github.com/Quackvin</p>
	</div>
</div>
</body>
</html>