<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/index.js"></script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="sidebar">
    <a class="sidebarItem" href="#">Home</a>
    <a class="sidebarItem" href="/about">About</a>
    <a class="sidebarItem" href="#">Portfolio</a>
    <a class="sidebarItem" href="#">Contact</a>
  </div>
  <div id="main">
    <div id="title">
      <h1>Kevin Kuek</h1>
      <p>Code, Draw, Sleep</p>
    </div>
    <div id="body1">
      <h2>Electrical Eng. Bachelor, Software Eng. Master, Ghim-Eng Guy</h3>
      <p>"Neural network are like onions... Neural networks have layers. Onions have layers. You get it? They both have layers." - Shrek</p>
    </div>
  </div>
	<div id="bodyExtra">
	  <div id="iconGroup">
	    <div class="icon"></div>
	    <div class="icon"></div>
	    <div class="icon"></div>
	  </div>
	</div>
	<div id="heading"></div>
	<image id="pic" src="../imgs/mainPic.jpg"></image>
	<div id="mask">
	  <div id="triangle"></div>
	  <div id="square1"></div>
	  <div id="square2"></div>
	</div>
</div>
</body>
</html>