<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../styles/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/scripts.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="sidebar">
    
  </div>
  <div id="main">
    <div id="title">
      <h1>Kevin Kuek</h1>
      <p>You should give him a job</p>
    </div>
    <div id="body1">
      <h2>He's pretty good</h3>
      <p>Yeah, it really is true</p>
    </div>
    <div id="heading"></div>
    <image id="pic" src="../imgs/mainPic.jpg"></image>
    <div id="mask">
      <div id="triangle"></div>
      <div id="square1"></div>
      <div id="square2"></div>
    </div>
  </div>
</div>
</body>
</html>