<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/onepage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/onepage.js"></script>
    <meta charset="UTF-8">
    <title>Kevin Kuek</title>
</head>
<body>
<div class="sidebar">
    <a href="#intro">Main</a>
    <a href="#about">About</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
</div>
<div class="section" id="intro">
    <img src="../imgs/mainPic.jpg">
    <div id="imgCover"></div>
    <div id="title">
        <h1>Kevin Kuek</h1>
        <p>Experimental Code and Design</p>
    </div>
    <div class="content">
        <h2>Electrical Eng. Bachelor, Software Eng. Master, Combined Professional</h2>
        <p>"Life is too short to not hire Kevin" ~ Anon</p>
    </div>
</div>
<div class="section" id="about">
    <div class="content">
        <h2>Give him a job</h2>
        <h3>Programming Experience</h3>
        <p><span>C:</span> High performance computing.</p>
        <p><span>C#:</span> Back end RESTful API, Unity game development.</p>
        <p><span>Python:</span> Blockchain proof of work and block authentication, graphical simulation, learning classifier systems, data mining, basic webapps.</p>
        <p><span>HTML/CSS/JavaScript:</span> Node.js webapps, dynamic front-end design, back-end API, Meteor webapps, HTML canvas 2D games.</p>
        <p><span>Scratch:</span> :)</p>
        <a href="https://github.com/Quackvin">Github</a>
    </div>
</div>
<div class="section" id="portfolio">
    <div class="content">
        <h2>He does cool things</h2>
    </div>
</div>
<div class="section" id="contact">
    <div class="content">
        <h2>See me in my office</h2>
        <h1>Contact</h1>
        <p>Linkdin: https://www.linkedin.com/in/kevin-kuek-208a9ab1/</p>
        <p>Gitbuh: https://github.com/Quackvin</p>
    </div>
</div>
</body>
</html>