<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/frame.css">
	<link rel="stylesheet" href="../styles/portfolio.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../scripts/about.js"></script>
</head>

<body>
<div id="wrapper">
	<div id="sidebar">
	<a class="sidebarItem" href="/">Home</a>
    <a class="sidebarItem" href="/about">About</a>
    <a class="sidebarItem" href="#">Portfolio</a>
    <a class="sidebarItem" href="/contact">Contact</a>
	</div>
	<div id="main">
	</div>
</div>
</body>
</html>