body{
  all:unset;
  background:rgb(74,82,83);
  overflow-x:hidden;
  font-family: "Lucida Console", Monaco, monospace;
  color:rgb(233,237,239);
}

#sidebar{
  position:fixed;
  height:100%;
  width:10%;
  background:rgb(0,0,15);
  z-index:5;
}

#heading{
  position:absolute;
  left:70%;
  height:100%;
  width:100%;
  transform-origin:0 0;
  transform: rotate(160deg);
  background:rgb(34,96,158);
  z-index:4;
  transition:0.3s;
}
#mainContent{
  position:absolute;
  left:10%;
  padding:0%;
  margin:0;
  width:50%;
  height:20vw;
  z-index:6;
  transition:0.3s;
}
#title{
  position:absolute;
  margin-left: 12vw;
  width:40vw;
  z-index: 6;
}
#title h1{
  margin:1%;
  font-size:5vw;
}
#title p{
  margin-top:1%;
  margin-bottom: 1%;
  font-size: 1.8vw;
}
#rest1{
  position:absolute;
  top:25vw;
  left:13vw;
  color:rgb(155,207,229);
  z-index: 3;
}
#pic{
  position:absolute;
  transform:translate(-50%, -50%);
  top:15vw;
  left:90vw;
  width:65vw;
  z-index:0;
  transition:0.3s;
}
#content{
  transition:0.3s;
}
#content #triangle{
  position:absolute;
  left:50%;
  height:200%;
  width:100%;
  transform-origin:0 0;
  transform:rotate(20deg);
  background:rgb(74,82,83);
  z-index:2;
}
#content #square1{
  position:absolute;
  top:0%;
  height:50%;
  width:60%;
  background:rgb(74,82,83);
  z-index:1;
}
#content #square2{
  position:absolute;
  top:50%;
  height:200%;
  width:100%;
  background:rgb(74,82,83);
  z-index:1;
}
@media (max-width:550px) {
  #heading {
    position: absolute;
    transform-origin:0 0;
    width: 130%;
    height: 90%;
    transform: rotate(145deg);
    top: 0%;
    left: 100%;
    z-index: 3;
  }
  #title h1{
    font-size: 12vw;
  }
  #title p{
  margin-top:1%;
  margin-bottom: 1%;
  font-size: 1.8vw;
  }
  #rest1{
  top:70vw;
  } 
  #rest1 h1{
    width:63vw;
  }

  #pic{
      width:180vw;
      top:56vw;
  }
  #content #triangle {
    position: absolute;
    width: 142vw;
    height: 90%;
    transform-origin:0% 0%;
    transform: rotate(45deg);
    top: 0%;
    left: 0%;
    z-index: 2;
  }
  #content #square1{
    top:100.41vw;
    width:100%;
  }
  #content #square2{
    position:absolute;
    top:100%;
    height:200%;
    width:100%;
  }
}